@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>

    <!-- Link de  Bootstrap  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body style="background-image: url('../../img/img-documentos.jpg')">
    <section>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-6 mb-5 text-center ">
                    <!-- Tu contenido aquí si es necesario -->
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-md-6 col-lg-4 mt-3">
                    <div class="login-wrap p-0">

                        <h1 class="text-center mb-4 fs-3">LOGIN</h1>

                        <form asp-controller="Inicio" asp-action="IniciarSesion" method="post" class="" novalidate>
                            <div class="form mb-3">
                                <label for="correo"><b>Username</b></label>

                                <input type="text"
                                       class="form-control mt-3"
                                       id="correo"
                                       placeholder="Ingresa su usuario"
                                       name="correo"
                                       required />
                                <div class="invalid-feedback">
                                    Por favor, ingresa tu usuario.
                                </div>
                            </div>

                            <div class="form mb-3">
                                <label for="clave"><b>Password</b></label>

                                <input type="password"
                                       class="form-control mt-3"
                                       id="clave"
                                       placeholder="Ingresa su contraseña"
                                       name="clave"
                                       required />
                                <div class="invalid-feedback">
                                    Por favor, ingresa tu contraseña.
                                </div>
                            </div>

                            <div class="form-group mt-5 text-center">
                                <button type="submit"
                                        class="btn btn-primary text-decoration-none">
                                    <i class="bi bi-person-circle fs-5 fw-bold me-2"></i>Iniciar Sesión
                                </button>
                            </div>

                            <div class="mt-4">
                                <div class="text-center">
                                    ¿No tienes una cuenta? <a href="@Url.Action("Registrarse","Inicio")">Regístrate!</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
