@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-7 pb-5 py-5">
    <article class="container">
        <div class="row mt-0 mt-md-6 mt-lg-7 mt-5">
            <div class="col-lg-6 col-md-10">


                <h2 class="text-center mt-5 fw-bold">Objetivo del programa</h2>

                <p class="mt-5 " style="padding: 15px; font-family:'Lucida Sans Unicode'">
                    ASPExpress es una plataforma versátil
                    para almacenar información de manera organizada. Además de esta función de almacenamiento,
                    tendrás la capacidad de editar y eliminar datos de forma rápida y eficiente. Lo que es más,
                    ofrecemos la posibilidad de exportar tus datos en dos formatos ampliamente utilizados,
                    PDF y Excel, para facilitar su uso en otras aplicaciones o compartirlos con otras personas.
                    Nuestra página está diseñada para brindarte un conjunto completo de herramientas para la gestión de
                    datos.
                    Si deseas agregar más información o explorar todas las funciones disponibles, no dudes en navegar
                    por
                    nuestra plataforma
                </p>
            </div>
            <div class="col-lg-6 col-md-12 justify-content-center d-flex align-items-start ">
                <img src="../img/img-logo1.png" style="width: 60vh; height: auto;">
            </div>
            
        </div>
    </article>
</section>
